<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="../../../assets/inifinty wars.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Inifinty Wars Deluxe Edition</h5>
        <p class="card-text">Precio: $7500</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/civil war.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Civil War 1 Completo</h5>
        <p class="card-text">Precio: $12000</p>
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Comprar</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/house of m.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">House Of M Volumen N°1</h5>
        <p class="card-text">Precio: $10000</p>
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Comprar</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-150">
      <img src="../../../assets/axe.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Judgment Day Marvel Capitulo N°1,2 y 3</h5>
        <p class="card-text">Precio: $5300</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
